
{{#each user}}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="">
            <div class="d-flex align-items justify-content-start">
                <div class="imgProfile">
                    {{#if image}}
                        <img src="/{{image}}" class="rounded-circle" height="150px" width="150px" alt="Imagem de {{username}}">
                    {{else}}
                        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" class="img-fluid rounded-circle" height="150px" width="150px" alt="Imagem de {{username}}">
                    {{/if}}
                </div>
                <div class="ms-3 align-self-center">
                    <h5 class="mb-0">{{username}}</h5>
{{/each}}
                    <small class="text-muted mb-0">({{{changeImage}}})</small>
{{#each user}}
                </div>
            </div>
            <div class="mt-3">
                <ul class="d-flex align-items-center list-unstyled">
                    <li class="me-3">
                        <span class="text-muted">
                            <a href="/@{{username}}/posts">Publicações</a>
                        </span>
                    </li>
                    <li class="me-3">
                        <span>
                            <a href="/@{{username}}/comentarios">Comentários</a>
                        </span>
                    </li>
                </ul>
                <p class="text-muted" title="Data de criação do perfil">
                    {{datetime}}
                </p>
            </div>
            <hr>
{{/each}}
            {{!-- <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header text-center">
        {{/each}}
                                <span>
                                    Sobre o usuário ( {{{editProfile}}} )
                                </span>
                            </div>
        {{#each user}}
                            <div class="card-body p-3">
                                <div>
                                    <div class="card-body">
                                        {{#if biography}}
                                            {{{biography}}}
                                        {{else}}
                                            <span class="text-muted">Nenhuma informação disponível</span>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        {{/each}}
                </div>
            </div> --}}
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header text-center">
                    {{#each user}}
                        <span>Publicações de <strong>{{username}}</strong></span>
                    {{/each}}
                </div>
                <div class="card-body p-3">
                    {{#if posts}}
                        {{#each posts}}
                            <div class="post-item mb-3">
                                <h5>{{title}}</h5>
                                <p>{{content}}</p>
                                <small class="text-muted">Publicado em: {{datetime}}</small>
                                <hr>
                                <div class="d-flex justify-content-end">
                                    <a href="/posts/{{id}}" class="btn btn-primary">Ver mais</a>    
                                </div>
                            </div>
                        {{/each}}
                    {{else}}
                        <div class="text-center">
                            <p class="text-muted">Nenhuma publicação encontrada.</p>
                            <button class="btn btn-secondary" onclick="location.href='/publicar'">
                                Fazer publicação
                            </button>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>